# Eclipse files
.settings
.project
.classpath
.springBeans

# Netbeans files
nb-configuration.xml
nbactions.xml

# IntelliJ files
*.iws
*.ipr
*.iml
.idea/

#Word temp files
*~$*.doc

# Binaries
target
bin

# Others
dependency-reduced-pom.xml
.surefire*
Thumbs.db
sys$command
.extract*
temp.dtd
*.orig
logs
~*.odt
~*.tmp
activemq-data
FFDC
conf
